.quiz {
    width: 600px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #afafaf;
    border-radius: 20px;
}

.numbers {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 28px;
}

form {
    height: 35px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    width: 80px;
    height: 25px;
    font-size: 26px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {

    border: none;
    background-color: #806a6a;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
}

button:active {
    background-color: #3a1f1f;
    transform: translateY(-2px);
}